{% extends 'base.html' %}

{% block title %}
  회원정보수정
{% endblock title %}

{% block style %}
  .accounts {
    max-width: 300px;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
{% endblock style %}

{% block content %}
<section class="accounts">
  <form action="{% url 'accounts:update' %}" method="POST">
    {% csrf_token %}
    <div class='my-3'>{{ form.as_p }}</div>
    <input class='btn btn-primary w-100' type="submit" value="회원정보 수정">
  </form>
</section>
{% endblock content %}