{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Cinephile{% endblock title %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <style>
    {% block style %}
    
    {% endblock style %}
  </style>
</head>
<body>
  <nav class="navbar sticky-top">
    <div class="container">
      <a href="{% url 'posts:index' %}" class="navbar-brand">Cinephile</a>
      <form class="d-flex search-form" role="search" method="GET" action="{% url 'posts:search' %}">
        <input class="form-control me-2" type="search" name="title" placeholder="제목, 장르, 인물을 검색해보세요." aria-label="Search" value="{{ movie_title }}">
      </form>

      {% comment %} 사용자 검색 기록
      {% if search_history %}
          <ul>
            {% for history in search_history %}
              <li>{{ history.search }}
                <form method="POST" action="{% url 'posts:search_delete' %}">
                  {% csrf_token %}
                  <input type="hidden" name="search_id" value="{{ history.id }}">
                  <button type="submit" class="btn-close" aria-label="Close"></button>
                </form>
              </li>
            {% endfor %}
          </ul>
      {% endif %}{% endcomment %}

      <div class="nav-right">
        {% if user.is_authenticated %}
          <a href="{% url 'accounts:profile' user %}">마이페이지</a>
          <a href="{% url 'accounts:logout' %}">로그아웃</a>
        {% else %}
          <button class="user-link" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</button>
          <button class="user-link" data-bs-toggle="modal" data-bs-target="#signupModal">회원가입</button>
        {% endif %}
      </div>
    </div>
  </nav>

  {% comment %} 로그인 모달 {% endcomment %}
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="navbar-brand">Cinephile</p>
        </div>
        <div class="modal-body">
          <p class="modal-title fw-bold" id="loginModalLabel">로그인</p>
          <form action="{% url 'accounts:login' %}" method="POST" id="login-form">
            {% csrf_token %}
            {{ login_form.as_p }}
            <input type="submit" class="btn main-btn" value="로그인">
          </form>
          <div class="other-link">
            <p>계정이 없으신가요? <button class="user-link" data-bs-toggle="modal" data-bs-target="#signupModal">회원가입</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} 회원가입 모달 {% endcomment %}
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="navbar-brand">Cinephile</p>
        </div>
        <div class="modal-body">
          <p class="modal-title fw-bold" id="loginModalLabel">회원가입</p>
          <form action="{% url 'accounts:signup' %}" method="POST" id="signup-form">
            {% csrf_token %}
            {% for field in signup_form %}
              <div class="mb-2">
                {{ field }}
              </div>
            {% endfor %}
            <input type="submit" class="btn main-btn" value="회원가입">
          </form>
          <div class="other-link">
            <p>이미 계정이 있으신가요? <button class="user-link" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="header">
    <div class="container">
      <div class="category">
        <ul class="tab" id="pills-tab" role="tablist">
          <li role="presentation">
            <button class="tab-button active" id="button-home-tab" data-bs-toggle="pill" data-bs-target="#button-home" type="button" role="tab" aria-controls="button-home" aria-selected="true">홈</button>
          </li>
          <li role="presentation">
            <button class="tab-button" id="button-romance-tab" data-bs-toggle="pill" data-bs-target="#button-romance" type="button" role="tab" aria-controls="button-romance" aria-selected="false">로맨스</button>
          </li>
          <li role="presentation">
            <button class="tab-button" id="button-action-tab" data-bs-toggle="pill" data-bs-target="#button-action" type="button" role="tab" aria-controls="button-action" aria-selected="false">액션</button>
          </li>
          <li role="presentation">
            <button class="tab-button" id="button-comedy-tab" data-bs-toggle="pill" data-bs-target="#button-comedy" type="button" role="tab" aria-controls="button-comedy" aria-selected="false">코미디</button>
          </li>
        </ul>
      </div>
      <div class="keyword-ranking-wrap">
        <div class="keyword-ranking" id="slider">
          <div class="keyword">
            <p class="keyword-number">1</p>
            <p class="keyword-text">드림</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">2</p>
            <p class="keyword-text">슈퍼 마리오 브라더스</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">3</p>
            <p class="keyword-text">존 윅</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">4</p>
            <p class="keyword-text">스즈메의 문단속</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">5</p>
            <p class="keyword-text">더 퍼스트 슬램덩크</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">6</p>
            <p class="keyword-text">옥수역 귀신</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">7</p>
            <p class="keyword-text">리바운드</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">8</p>
            <p class="keyword-text">무명</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">9</p>
            <p class="keyword-text">킬링로맨스</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">10</p>
            <p class="keyword-text">2001 스페이스 오디세이</p>
          </div>
        </div>
        <button class="keyword-button"><i class="bi bi-chevron-down"></i></button>
        <div class="keyword-ranking" id="ranking-list">
          <p class="fw-bold p-3">인기 검색어</p>
          <div class="keyword">
            <p class="keyword-number">1</p>
            <p class="keyword-text">드림</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">2</p>
            <p class="keyword-text">슈퍼 마리오 브라더스</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">3</p>
            <p class="keyword-text">존 윅</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">4</p>
            <p class="keyword-text">스즈메의 문단속</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">5</p>
            <p class="keyword-text">더 퍼스트 슬램덩크</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">6</p>
            <p class="keyword-text">옥수역 귀신</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">7</p>
            <p class="keyword-text">리바운드</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">8</p>
            <p class="keyword-text">무명</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">9</p>
            <p class="keyword-text">킬링로맨스</p>
          </div>
          <div class="keyword">
            <p class="keyword-number">10</p>
            <p class="keyword-text">2001 스페이스 오디세이</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main>
    {% block content %}
    
    {% endblock content %}
  </main>

  <footer>
    <div class="container">
      <h5 class="team">Cinephile</h5>
      <div class="footer-link">
        <a href="">HOME</a>
        <a href="">NOTICE</a>
        <a href="">ABOUT</a>
        <a href="">BLOG</a>
        <a href="">CONTACT</a>
      </div>
      <div class="member">
        <a href=""><i class="bi bi-github"></i></a>
        <a href=""><i class="bi bi-github"></i></a>
        <a href=""><i class="bi bi-github"></i></a>
        <a href=""><i class="bi bi-github"></i></a>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const header = document.querySelector('.header')
    let prevScrollTop = 0

    const headerMoving = function(direction) {
      if (direction == 'up') {
        header.classList.remove('nav-up')
      } else {
        header.classList.add('nav-up')
      }
    }

    document.addEventListener('scroll', function() {
      let nextScrollTop = window.pageYOffset
      if (nextScrollTop > prevScrollTop) {
        headerMoving('down')
      } else if (nextScrollTop < prevScrollTop) {
        headerMoving('up')
      }

      prevScrollTop = nextScrollTop
    })

    function Slider(target) {
      let index = 1;
      let isMoved = true;
      const speed = 1500; // ms
    
      const transform = "transform " + speed / 1000 + "s";
      let translate = (i) => "translateY(-" + 100 * i + "%)";
    
      const slider = document.querySelector(target);
      const sliderRects = slider.getClientRects()[0];
      slider.style["overflow"] = "hidden";
  
      const container = document.createElement("div");
      container.style["display"] = "flex";
      container.style["flex-direction"] = "column";
      container.style["width"] = sliderRects.width + "px";
      container.style["height"] = sliderRects.height / 10 + "px";
      container.style["transform"] = translate(index);
    
      let boxes = [].slice.call(slider.children);
      boxes = [].concat(boxes[boxes.length - 1], boxes, boxes[0]);
    
      const size = boxes.length;
      for (let i = 0; i < size; i++) {
        const box = boxes[i];
        box.style["height"] = "100%";
        box.style["width"] = "100%";
        container.appendChild(box.cloneNode(true));
      }
    
      container.addEventListener("transitionstart", function () {
        isMoved = false;
        setTimeout(() => {
          isMoved = true;
        }, speed);
      });
      container.addEventListener("transitionend", function () {
        if (index === size - 1) {
          index = 1;
          container.style["transition"] = "none";
          container.style["transform"] = translate(index);
        }
        if (index === 0) {
          index = size - 1;
          container.style["transition"] = "none";
          container.style["transform"] = translate(index);
        }
      });
    
      slider.innerHTML = "";
      slider.appendChild(container);
    
      return {
        move: function (i) {
          if (isMoved === true) {
            index = i;
            container.style["transition"] = transform;
            container.style["transform"] = translate(index);
          }
        },
        next: function () {
          if (isMoved === true) {
            index = (index + 1) % size;
            container.style["transition"] = transform;
            container.style["transform"] = translate(index);
          }
        },
        prev: function () {
          if (isMoved === true) {
            index = index === 0 ? index + size : index;
            index = (index - 1) % size;
            container.style["transition"] = transform;
            container.style["transform"] = translate(index);
          }
        }
      };
    }
    
    const s1 = new Slider("#slider");
    
    setInterval(() => {
      s1.next();
    }, 1500)

    const loginForm = document.querySelector('#login-form')
    const signupForm = document.querySelector('#signup-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    loginForm.addEventListener('submit', function (event) {
      event.preventDefault()
      axios({
        method: 'post',
        url: '/accounts/login/',
        headers: {'X-CSRFToken': csrftoken}
      })
    })

    {% block script %}
    
    {% endblock script %}
  </script>
</body>
</body>
</html>