{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" class="img-fluid rounded-start" alt="#">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview|truncatechars:150 }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ movie.release_date }}</small></p>
        </div>
      </div>
    </div>
  </div>
  <form action="{% url 'posts:create' movie.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="rating">
      <label>평점:</label>
      <div id="rating-stars"></div>
      <input type="hidden" id="score-input" name="score" value="0">
    </div>
    <input type="submit">
  </form>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
  $(document).ready(function() {
    $("#rating-stars").rateYo({
      starWidth: "20px",
      spacing: "5px",
      rating: 0,
      halfStar: true,
      precision: 2,
      onSet: function(rating, rateYoInstance) {
        rating = Math.round(rating * 2) / 2;  // 0.5 단위로 조정
        $("#score-input").val(rating.toFixed(1));  // 소수점 한 자리까지 표시
      }
    });
  });
</script>

{% endblock content %}