{% extends 'base.html' %}
{% load static %}

{% block style %}

{% endblock style %}

{% block content %}

{% comment %} 
영화 상세 정보
아직 작성중이며 레이아웃 바뀔 수 있음
왼쪽에 포스터, 오른쪽에 정보 넣으려고 했는데 안이뻐서 엎음
한 칸으로 가는게 제일 이쁠 것 같음
변수 같은 거 다 수정할 필요가 생길 수 있음
{% endcomment %}

<div class='row row-cols-1 mt-5'>
  <div class='col'>
    포스터 이미지 삽입
    {% if title='title' %}
    <img src="{% static '' %}" alt="">
    {% endif %}

  </div>
{% comment %} 
혹시 여기서 static 폴더에 파일 넣지 않고 db에서 이미지 불러오면 안되는건가오
제가 모르는건가..
{% endcomment %}
  



        
          평점
        </div>
        <div class='col'>
          {{ grade }}
        </div>
        <div class='col'>
          {% if 5 >= grade and grade > 4.0 %}
          <p>★★★★★</p>
          {% elif 4.0 >= grade and grade > 3.0 %}
              <p>★★★★☆</p>
          {% elif 3.0 >= grade and grade > 2.0 %}
              <p>★★★☆☆</p>
          {% elif 2 >= grade and grade > 1.0 %}
              <p>★★☆☆☆</p>
          {% elif 1 >= grade and grade > 0.0 %}
              <p>★☆☆☆☆</p>
          {% endif %}      
        </div>
        <div class='col'>          

    </div>
  </div>
</div>

{% comment %} 
Carousel 구현부분
DB에서 정보 가져옴, 옆으로 밀어 여러 게시글을 카드형태로 다룰 수 있음, 글자초과시 ... 으로 생략
Model 이름을 임의로 card로 만들었으므로 추후 수정 필요
{% endcomment %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        {% for card in cards|slice:":3" %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ card.title|truncatechars:10 }}</h5>
              <p class="card-text">{{ card.content|truncatechars:30 }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% for card_list in cards|batch:3|slice:"1:" %}
    <div class="carousel-item">
      <div class="row">
        {% for card in card_list %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ card.title|truncatechars:10 }}</h5>
              <p class="card-text">{{ card.content|truncatechars:30 }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock content %}

