{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <p>{{ post.title }}</p>
        <a href="{% url 'accounts:profile' post.user %}">{{ post.user.username }}</a>
        <p>{{ post.content }}</p>
      </div>
    </div>

    <hr class="mx-auto" width="70%">

    <div class="row">
      <div class="col-8 mx-auto">
        {% if user.is_authenticated %}
          <div class="post-likes">
            <form action=" {% url 'posts:post_likes' post.pk %} ">
            {% csrf_token %}
            <button class="like-button {% if request.user in post.like_users.all %}active{% endif %} btn btn-link">
              {% if request.user in post.like_users.all %}
              <i class="bi bi-hand-thumbs-up"></i> Unlike
              {% else %}
              <i class="bi bi-hand-thumbs-up"></i> Like
              {% endif %}
            </button>
            <span class="like-count">{{ post.like_users.count }}</span>
            </form>
          </div>
        {% else %}
          <div class="post-likes">
            <button class="like-button btn btn-link" disabled="">
              <i class="bi bi-hand-thumbs-up"></i> Like
            </button>
            <span class="like-count">{{ post.like_users.count }}</span>
          </div>
          <p>로그인 후 좋아요를 눌러주세요.</p>
        {% endif %}
      
      </div>      
    </div>

    <hr class="mx-auto" width="70%">

    {% comment %} 
    포스트에 대한 수정, 삭제
    코멘트에 대한 좋아요
    코멘트에 대한 수정, 삭제
    {% endcomment %}

    <div class="row">
      <div class="col-8 mx-auto">
        {% if comment %}
        {% for comment1 in comment %}
          <div class="row">
            <div class="col-8 mx-auto">
              <p>{{ comment1.content }}</p>
              {% if user.is_authenticated and user == comment1.user %}
                <form method="post" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link text-danger p-0" onclick="return confirm('정말 삭제하시겠습니까?')"><i class="bi bi-x-circle-fill"></i></button>
                </form>
              {% endif %}
            </div>
          </div>
        {% endfor %}

      
        {% else %}
          <p class="text-muted">No comments</p>
        {% endif %}
      </div>
    </div>

    <hr class="mx-auto" width="70%">

    {% if user.is_authenticated %}
      <div class="row row-cols-1">
        <div class="col-8 mx-auto">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <textarea name="content" class="form-control" rows="3" placeholder="Enter your comment"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    {% else %}
      <div class="row row-cols-1">
        <div class="col-8 mx-auto">
          <p>로그인 후 댓글을 작성할 수 있습니다.</p>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
