{% extends 'base.html' %}
{% load static %}

{% block title %}
  검색결과 | {{ movie_title }}
{% endblock title %}

{% block content %}
{% comment %} 검색 결과에 페이지네이션을 추가하는 건 어떨까요? {% endcomment %}
{% comment %} 검색 input에 사용자가 입력한 검색어를 남길 수 있는 방법이 있을까요? {% endcomment %}
{% comment %} 검색 결과를 최신순으로 정렬해서 보여주는 것도 좋을 것 같아요! {% endcomment %}
  <section class="search container">
    {% if search_data.results %}
      <p class="result-count">검색결과 <b>{{ search_data.results|length }}건</b></p>
      <div class="movie-group">
      {% for movie in posts %}
        <article class="movie">
          <a href="{% url 'posts:movie_detail' movie_id=movie.id %}">
            {% if movie.poster_path %}
              <div class="movie-poster">
                <img src="{{ movie.poster_path }}" alt="{{ movie.title }} 포스터">
              </div>
            {% else %}
              <div class="no-poster">
                <img src="{% static 'no-photo.png' %}" alt="">
              </div>
            {% endif %}
            <div class="movie-info">
              <h3 class="movie-title">{{ movie.title }}</h3>
              <div class="d-flex">
                <p>{{ movie.release_date }} 개봉</p>
                <span class="search rating"><i class="bi bi-star-fill"></i>{{ movie.vote_average|floatformat }}</span>
              </div>
            </div>
          </a>
        </article>
      {% endfor %}
    {% else %}
      <h2>'{{ movie_title }}' 검색 결과가 없습니다.</h2>
    {% endif %}
    </div>
    {% comment %} 페이지네이션 {% endcomment %}
    <ul class="pagination justify-content-center">
      {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?title={{ movie_title }}&page=1">처음으로</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?title={{ movie_title }}&page={{ posts.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
      {% endif %}
    
      {% for page_number in posts.paginator.page_range %}
      {% if page_number >= posts.number|add:-4 and page_number <= posts.number|add:4 %}
        {% if page_number == posts.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?title={{ movie_title }}&page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?title={{ movie_title }}&page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    
      {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?title={{ movie_title }}&page={{ posts.next_page_number }}">다음</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?title={{ movie_title }}&page={{ posts.paginator.num_pages }}">마지막으로</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
      {% endif %}
    </ul>
  </section>

{% endblock content %}