{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  검색결과 | {{ query }}
{% endblock title %}

{% block content %}
  <section class="search container" style="min-height: 460px;">
    {% if movie_search_data.results %}
      <p class="result-count">검색결과 <b>{{ movie_search_data.results|length }}건</b></p>
      <div class="movie-group">
      {% for movie in posts %}
        <article class="movie">
          <a href="{% url 'posts:movie_detail' movie_id=movie.id %}">
            {% if movie.poster_path %}
              <div class="movie-poster">
                <img src="{{ movie.poster_path }}" alt="{{ movie.title }} 포스터">
              </div>
            {% else %}
              <div class="no-poster">
                <img src="{% static 'no-photo.png' %}" alt="">
              </div>
            {% endif %}
            <div class="movie-info">
              <h3 class="title">{{ movie.title }}</h3>
              <div class="d-flex">
                <div class="movie-category">
                  {% if movie.genre_ids %}
                  <span># {{ genre_dict|get_genre_name:movie.genre_ids.0 }}</span>
                  {% if movie.genre_ids|length > 1 %}
                    <span># {{ genre_dict|get_genre_name:movie.genre_ids.1 }}</span>
                  {% endif %}
                {% else %}
                  <span># 장르 없음</span>
                {% endif %}
                </div>
                <span class="search rating"><i class="bi bi-star-fill"></i>{{ movie.vote_average|floatformat }}</span>
              </div>
            </div>
          </a>
        </article>
      {% endfor %}

      {% comment %} 검색한 배우의 출연 영화 목록 {% endcomment %}
      {% elif person_search_data.results %}
        <p class="result-count">검색결과 <b>{{ movies_cast|length }}건</b></p>
        <div class="person-group">
          {% for person in person_search_data.results %}
            {% if person.profile_path %}
              <article class="person">
                <div class="person-profile">
                  <div class="movie-poster">
                    <img src="{{ person.profile_path }}" alt="{{ person.name }} 프로필 사진">
                  </div>
                </div>
                <div class="movie-info">
                  <h3 class="person-name fw-bold">{{ person.name }}</h3>
                  <div>
                    <p class="mb-2">출연 작품</p>
                    <div class="person-movie-list">
                      {% for movie_cast in movies_cast %}
                        {% if movie_cast.person_name == person.name %}
                          {% for movie_title in movie_cast.movies %}
                            {% for poster in movie_posters %}
                              {% if movie_title == poster.title and poster.poster_path %}
                                <div class="person-movie">
                                  <a href="{% url 'posts:movie_detail' poster.id %}">
                                    <div class="movie-poster">
                                      <img src="{{ poster.poster_path }}" alt="{{ movie_title }} 포스터">
                                    </div>
                                  </a>
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </article>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <h2>'{{ query }}' 검색 결과가 없습니다.</h2>
      {% endif %}
    </div>

    {% comment %} 페이지네이션 {% endcomment %}
    <ul class="pagination justify-content-center">
      {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?query={{ query }}&page=1">처음으로</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?query={{ query }}&page={{ posts.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
      {% endif %}

      {% for page_number in posts.paginator.page_range %}
        {% if page_number >= posts.number|add:-4 and page_number <= posts.number|add:4 %}
          {% if page_number == posts.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?query={{ query }}&page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?query={{ query }}&page={{ page_number }}">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?query={{ query }}&page={{ posts.next_page_number }}">다음</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?query={{ query }}&page={{ posts.paginator.num_pages }}">마지막으로</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
      {% endif %}
    </ul>
    </section>

{% endblock content %}