{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card border-0" style="width: 600px;">
    <div class="card mb-3 border-0">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://image.tmdb.org/t/p/w200/{{ post.poster_path }}" class="img-fluid rounded" alt="#">
        </div>
        <div class="col-md-8">
          <div class="card-body h-100">
            <ul class="list-group list-group-flush d-flex flex-column h-100">
              <li class="list-group-item"><h3><strong>{{ post.movie_title }}</strong></h3></li>
              <li class="list-group-item flex-grow-1">{{ post.movie_overview|truncatechars:200 }}</li>
              <li class="list-group-item">개봉일: {{ post.movie_release_date }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <form action="{% url 'posts:update' post.pk %}" method="POST">
        {% csrf_token %}
        <li class="list-group-item border-0 px-0">
          <div class="rating">
            <label>평점: </label>
            <div id="rating-stars"></div>
            <input type="hidden" id="score-input" name="score" value="0">
          </div>
        </li>
        {% for f in form %}
        <li class="list-group-item border-0 px-0">{{ f }}</li>
        {% endfor %}
        <li class="list-group-item border-0 d-flex justify-content-end px-0">
          <input class="btn btn-primary w-100" type="submit">
        </li>
      </form>
    </ul>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
  $(document).ready(function() {
    $("#rating-stars").rateYo({
      starWidth: "20px",
      spacing: "5px",
      rating: {{ post.score }},
      halfStar: true,
      precision: 2,
      onSet: function(rating, rateYoInstance) {
        rating = Math.round(rating * 2) / 2;  // 0.5 단위로 조정
        $("#score-input").val(rating.toFixed(1));  // 소수점 한 자리까지 표시
      }
    });
  });
</script>

{% endblock content %}